
<page-header [title]="l('ManageMesWorkTagScan')"></page-header>

<nz-card [nzBordered]="false">
    <div class="mb-md">
        <div nz-row nzGutter="8">
            <!-- 模糊搜索框 -->
            <div nz-col nzSpan="8" nzMd="12" nzXs="24" nzSm="24">
                <input type="text"
                       nz-input
                       [(ngModel)]="filterText"
                       (keyup.enter)="refresh()"
                       [placeholder]="l('SearchWithThreeDot')" />
            </div>
            <!-- 查询和刷新按钮 -->
            <div nz-col nzSpan="8" nzMd="12" nzXs="24" nzSm="24">
                <button nz-button nzType="primary" type="submit" (click)="refresh()">
                    <span>{{ l('Search') }}</span>
                </button>
                <button nz-button nzType="default" type="submit" (click)="refreshGoFirstPage()">
                    {{ l('Reset') }}
                </button>
            </div>
        </div>
    </div>
    <div class="mb-md">
        <!-- 增强型功能按钮位置 如： 添加、批量删除、导出Excel表 -->
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="8" nzMd="12" nzXs="24" nzSm="24" class="btn-gutter">

                <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.MesWorkTagScan.Create')" (click)="createOrEdit()">
                    <i class="iconfont icon-plus"></i>
                    <span>
                        {{l("Create")}}
                    </span>
                </button>
                <button nz-button nzType="default" *ngIf="isGranted('Pages.MesWorkTagScan.ExportExcel')" (click)="exportToExcel()">
                    <i class="iconfont icon-file-excel"></i>
                    <span>
                        {{l("ExportToExcel")}}
                    </span>
                </button>
                <ng-container *ngIf="selectedDataItems.length > 0">
                    <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.MesWorkTagScan.BatchDelete')" (click)="batchDelete()">
                        <i class="iconfont icon-delete"></i>
                        <span>
                            {{l("BatchDelete")}}
                        </span>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- 多选框 判断选择了多少行数据，以及一个刷新按钮 -->
    <div class="my-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
            <ng-template #message>
                <span [innerHTML]="l('GridSelectedXItemsTips',selectedDataItems.length)"></span>
                <a (click)="restCheckStatus(dataList)" class="ml-md">
                    {{l('ClearEmpty')}}
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="refreshGoFirstPage()">
                    {{l('Refresh')}}
                </a>
            </ng-template>
        </nz-alert>
    </div>
    <!-- 实体的表格内容 -->
    <div nz-row nzGutter="8" class="my-md">
        <nz-table #ajaxTable
                  nzSize="default"
                  [nzData]="dataList"
                  [nzTotal]="totalItems"
                  [(nzPageIndex)]="pageNumber"
                  [(nzPageSize)]="pageSize"
                  (nzPageIndexChange)="pageNumberChange()"
                  [nzPageSizeOptions]="PageSizeOptions"
                  (nzPageSizeChange)="refresh()"
                  [nzShowSizeChanger]="true"
                  [nzShowQuickJumper]="true"
                  [nzNoResult]="noDataTemplate"
                  [nzShowTotal]="showTotalTemplate"
                  [nzFrontPagination]="false"
                  [nzScroll]="{ x: '1300px', y: '520px' }">
            <!-- [nzLoading]="isTableLoading" 要开启表格的loading状态，移动代码到上方 -->
            <!-- 暂无数据组件 -->
            <ng-template #noDataTemplate>
                <no-data></no-data>
            </ng-template>
            <!-- 分页信息显示 当前 1 页/共 3 页，共 5 条/显示 1-2 条 -->
            <ng-template #showTotalTemplate let-total let-range="range">
                {{l('GridFooterDisplayText',pageNumber,totalPages,total,range[0],range[1])}}
            </ng-template>
            <!-- 表头 -->
            <thead (nzSortChange)="gridSort($event)">
                <tr>
                    <th nzBreakWord="true"
                        nzAlign="center"
                        nzWidth="50px"
                        nzShowCheckbox
                        [(nzChecked)]="allChecked"
                        [nzDisabled]="allCheckboxDisabled"
                        [nzIndeterminate]="checkboxIndeterminate"
                        (nzCheckedChange)="checkAll($event)"></th>
                     <th nzShowSort nzSortKey="tagInvoice" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagInvoice')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagReceiptNumber" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagReceiptNumber')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagLocation" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagLocation')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagNumber" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagNumber')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagScanAccount" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagScanAccount')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagScanDeptID" nzWidth="180px" nzAlign="left">
                                        <span>{{l('tagScanDeptID')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagScanDateTime" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagScanDateTime')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagUploadDateTime" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagUploadDateTime')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagScanPDASerial" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagScanPDASerial')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagScanPDAUUID" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagScanPDAUUID')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagStyle" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagStyle')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagColor" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagColor')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagSize" nzWidth="180px" nzAlign="left">
                                        <span>{{l('MesWorkTagScantagSize')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagQty" nzWidth="180px" nzAlign="left">
                                        <span>{{l('tagQty')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="isUploaded" nzWidth="180px" nzAlign="left">
                                        <span>{{l('isUploaded')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="isSyncMesData" nzWidth="180px" nzAlign="left">
                                        <span>{{l('isSyncMesData')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="isPrints" nzWidth="180px" nzAlign="left">
                                        <span>{{l('isPrints')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagInvoiceVersion" nzWidth="180px" nzAlign="left">
                                        <span>{{l('tagInvoiceVersion')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="isInOrOut" nzWidth="180px" nzAlign="left">
                                        <span>{{l('isInOrOut')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="isDels" nzWidth="180px" nzAlign="left">
                                        <span>{{l('isDels')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagOrg" nzWidth="180px" nzAlign="left">
                                        <span>{{l('tagOrg')}}</span>

                     </th>
                     <th nzShowSort nzSortKey="tagLine" nzWidth="180px" nzAlign="left">
                                        <span>{{l('tagLine')}}</span>

                     </th>
                    <th nzWidth="230px" nzAlign="center">
                        <span>{{l('Actions')}}</span>
                    </th>
                </tr>
            </thead>
            <!-- 表格内容 -->
            <tbody>
                <tr *ngFor="let item of ajaxTable.data">
                    <!-- Checkbox多选框 -->
                    <td nzAlign="center"
                        nzShowCheckbox
                        [(nzChecked)]="item.checked"
                        (nzCheckedChange)="refreshCheckStatus(dataList)"></td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagInvoice}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagReceiptNumber}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagLocation}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagNumber}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagScanAccount}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagScanDeptID}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagScanDateTime}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagUploadDateTime}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagScanPDASerial}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagScanPDAUUID}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagStyle}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagColor}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagSize}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagQty}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.isUploaded}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.isSyncMesData}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.isPrints}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagInvoiceVersion}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.isInOrOut}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.isDels}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagOrg}}
                            </span>
                        </ellipsis>
                    </td>
                    <td nzAlign="left">
                        <ellipsis lines="2" tooltip>
                            <span>
                                {{item.tagLine}}
                            </span>
                        </ellipsis>
                    </td>

                    <td>
                        <!-- 编辑 -->
                        <ng-container *ngIf="isGranted('Pages.MesWorkTagScan.Edit')">
                            <a (click)="createOrEdit(item.id)">
                                <i class="iconfont icon-edit mr-sm"></i>
                                <span>{{l('Edit')}}</span>
                            </a>
                            <nz-divider nzType="vertical"></nz-divider>
                        </ng-container>
                        <!-- 更多 -->
                        <ng-container *ngIf="isGrantedAny('Pages.MesWorkTagScan.Create', 'Pages.MesWorkTagScan.Delete')">
                            <a nz-dropdown [nzDropdownMenu]="actionDropdownMenu">
                                <span>{{ l('More') }}</span>
                                <i class="iconfont icon-down"></i>
                            </a>
                            <nz-dropdown-menu #actionDropdownMenu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>
                                        <a *ngIf="isGranted('Pages.MesWorkTagScan.Create')" (click)="createOrEdit()">
                                            <i class="iconfont icon-plus"></i>{{ l('Create') }}
                                        </a>
                                    </li>
                                    <li nz-menu-divider></li>
                                    <!-- 删除 -->
                                    <li nz-menu-item *ngIf="isGranted('Pages.MesWorkTagScan.Delete')">
                                        <a nz-popconfirm
                                           [nzPopconfirmTitle]="l('ConfirmDeleteWarningMessage')"
                                           (nzOnConfirm)="delete(item)"
                                           [nzOkText]="l('Ok')"
                                           [nzCancelText]="l('Cancel')">
                                            <i class="iconfont icon-delete mr-sm"></i>
                                            <span>{{ l('Delete') }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>
