
<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
    <!-- 模态框头部 -->
    <div class="modal-header">
        <div class="modal-title">
            <i class="iconfont icon-medicine-box mr-sm"></i>
            <span *ngIf="entity.id">{{l('Edit')}}</span>
            <span *ngIf="!entity.id">{{l('Create')}}</span>
        </div>
    </div>
    <!-- 模态框内容 -->
    <fieldset>
        <!-- 提示信息 -->
        <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
                   <!-- DeptName : DeptName 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="deptName">  
                            {{l('MesDeptDeptName')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="deptName" #deptName="ngModel"
                                       [(ngModel)]="entity.deptName"
                                      [placeholder]="l('MesDeptDeptNameInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--DeptName : DeptName 的控件范围结束=END= -->
                   <!-- DeptNumber : DeptNumber 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="deptNumber">  
                            {{l('MesDeptDeptNumber')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="deptNumber" #deptNumber="ngModel"
                                       [(ngModel)]="entity.deptNumber"
                                      [placeholder]="l('MesDeptDeptNumberInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--DeptNumber : DeptNumber 的控件范围结束=END= -->
                   <!-- Marsk : Marsk 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="marsk">  
                            {{l('MesDeptMarsk')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="marsk" #marsk="ngModel"
                                       [(ngModel)]="entity.marsk"
                                      [placeholder]="l('MesDeptMarskInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Marsk : Marsk 的控件范围结束=END= -->

    </fieldset>
    <!-- 模态框底部 -->
    <div class="modal-footer">
        <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
            <i class="iconfont icon-close-circle"></i> {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving" [nzLoading]="saving">
            <i class="iconfont icon-save" *ngIf="!saving"></i> {{l("Save")}}
        </button>
    </div>
</form>